# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# AWS
.aws/
*.pem
*.key

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Sensitive data
employees.csv
*.pdf

# Logs
*.log
Pledge_Certificate_Generation_accessKeys.csv
*_accessKeys.csv
*.csv
